button:enabled {
		cursor: pointer;
}

button:active {
		background-color: #989898;
}

button:disabled {
		cursor: not-allowed;
}

h1 {
		font-family: 'Chilanka', cursive;
		color: gray;
}

td {
		width: 100px;
		height: 100px;
}

table {
		margin: 5px auto;
}

h3 {
		font-family: 'Chilanka', cursive;
		color: gray;
}

h2 {
		color: gray;
		font-family: 'Chilanka', cursive;
}

body {
		background: black;
		text-align: center;
}

.gamepad {
		width: 80px;
		height: 80px;
		background-color: gray;
		border-radius: 100%;
		font-size: 2em;
}

.vert {
		border-left: 2px gray;
		border-right: 2px gray;
}

.hori {
		border-top: 2px gray;
		border-bottom: 2px gray;
}

.tic-tac-operative {
		background-color: gray;
		width: 100px;
		height: 100px;
}
